/*======= common style =======*/


/* font roboto */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* font roboto */


/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --style-color-main: #13AC37  ;
    --style-color-dark: #069628 ;
    --style-color-light: #64BF7A;
    --style-color-light-2: #C8E6CF;
    --style-color-btn-contrast: #ff8e01;

    --style-color-bg-footer: #434a3d;
    --style-color-in-bg-footer: #434a3d;

    --style-color-in-bg: black;
    --style-color-input: #9AD6A8;
    --style-color-in-bg-menu: black;
    --style-color-bg-footer-light: white;
    --style-color-in-bg-dark: rgb(255, 255, 255);
    /* footer */
    --style-color-bg-footer: white;
    --style-color-color-footer: #2f3235;
    --style-color-bg-btn-footer: #069628;
    --style-color-bg-color-hover: white;
    --style-color-color-share: #2f3235;
    --style-color-bg-placehoder-footer: #2f323586;
    --style-color-call: #f74239;
    --style-color-btn-footer:white;
    
    --style-footer-color-hover: #069628;
    --style-border-input-footer: #c4c4c4;

    --style-color-menu-active: white;
    --style-color-menu-hover: white;
    --style-color-filter-hover: #069628;


}
.menu-item>a:hover {
    color: var(--style-color-call);
    opacity: 1;
}
.footer__menu li a:hover {
    color: var(--style-footer-color-hover) !important;
}
footer a:hover {
    color: var(--style-footer-color-hover) !important;
}
#homeStyle01 footer a:hover {
    color: var(--style-footer-color-hover) !important;
}
#homeStyle01 .news-detail-footer a:hover {
    color: var(--style-footer-color-hover) !important;
}

footer .form-group__ft button {
    background-color: var(--style-color-bg-btn-footer)!important;
}
.footer-company__info {
    color: var(--style-color-color-footer)!important;
}
footer .footer-company__info span {
    color: var(--style-color-color-footer)!important;
}
footer {
    background-color: var(--style-color-bg-footer)!important;
    color: var(--style-color-color-footer)!important;
}
footer input::placeholder{
    color: var(--style-color-bg-placehoder-footer)!important;
}
#homeStyle01 footer .footer__block-title, #homeStyle01 footer .call-now{
    color: var(--style-color-color-footer) !important;
}

.footer__menu li a{
    color: var(--style-color-color-footer) !important;
}
#homeStyle01 a:hover {
    color: var(--style-color-bg-color-hover) !important;
}
footer .call-now a {
    color: var(--style-color-call) !important;
}

input:focus textarea:focus {
    outline: none !important;
    border: 1px solid var(--style-color-main) !important;
}

.header-top {
    width: 100%;
    background: linear-gradient(0deg, var(--style-color-light-2), var(--style-color-light-2));
}

#homeStyle01 .nav__left-title {
    background-color: var(--style-color-light-2) !important;
    color: var(--style-color-light-2);
}

.nav__left-title {
    background: linear-gradient(0deg, var(--style-color-light-2), var(--style-color-light-2)) !important;
}

.news-menu input::placeholder {
    color: rgba(0, 0, 0, 0.405) !important;
}
#homeStyle01 .change-ship a:hover{
    color: var(--style-color-dark)!important;
    opacity: 0.6;
}

/* home */
@media only screen and (max-width: 768px) {
    .section-title img {
        height: 10px !important;
        width: 150px !important;
    }
}
.wrap__header-user {
    gap: 10px;
}
.header__info .__item.--ct {
    gap: 10px;
}
footer input {
    color: var(--style-color-in-bg) !important;
}
.p-product__list02 .product__item:hover .p__text span {
    color: var(--style-color-dark) !important
}
.shopping-cart {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--style-color-main);
}
@media only screen and (max-width: 1024px) {
    .shopping-cart {
        width: inherit;
        height: inherit;
        border: none;
    }
}
.p-product__list02.--style06 .product__item {
    border-color: #13ac37;
}
.header__info .shopping-cart {
    border: 1px solid var(--style-color-main) !important;
}
footer .form-group__ft input {
    border: 1px solid var(--style-border-input-footer);
}
footer .footer-bt {
    border-color: var(--style-border-input-footer);
}