<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Detail.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="detail root">
      <h1 class="hero_title">A-HA1 [TB365]</h1>
      <div class="flex_column">
        <div class="flex_row">
          <div class="item" style="--src:url(/assets/white_gradient_background.png)">
            <h2 class="medium_title">Mô tả BOT</h2>
            <h5 class="highlight">
              1. Tổng quan: Thông qua AI, chúng tôi phân tích dữ liệu thị trường trong quá khứ, xác định các mô hình cụ
              thể, dự đoán xu hướng tăng và...
            </h5>
          </div>
          <div class="item1" style="--src:url(/assets/soft_white_corner.png)">
            <div class="flex_col">
              <h2 class="medium_title1">Tỉ lệ Win/Loss</h2>
              <div class="flex_row1">
                <div class="flex_col1">
                  <div class="flex_col2">
                    <h5 class="highlight1">Tỉ lệ thắng</h5>
                    <h5 class="highlight11">84%</h5>
                  </div>
                  <div class="flex_col3">
                    <h5 class="highlight1">Lợi nhuận TB/Lệnh</h5>
                    <h5 class="highlight2">$7</h5>
                  </div>
                </div>
                <div class="flex_col4">
                  <div class="flex_col5">
                    <h5 class="highlight1">Win/Lose</h5>
                    <h5 class="highlight2">8 : 2</h5>
                  </div>
                  <div class="flex_col3">
                    <h5 class="highlight1">Max Drawdow</h5>
                    <h5 class="highlight2">$7</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item1" style="--src:url(/assets/diagonal_light_beam.png)">
            <div class="flex_col6">
              <h2 class="medium_title1">Lợi nhuận</h2>
              <div class="flex_row2">
                <div class="flex_col7">
                  <div class="flex_col8">
                    <h5 class="highlight1">Lợi nhuận TB/Lệnh</h5>
                    <h5 class="highlight2">$7</h5>
                  </div>
                  <div class="flex_col9">
                    <h5 class="highlight1">Lợi nhuận TB/Tháng</h5>
                    <h5 class="highlight2">1,600</h5>
                  </div>
                </div>
                <div class="flex_col10">
                  <div class="flex_col11">
                    <h5 class="highlight1">Lợi nhuận TB/Quý</h5>
                    <h5 class="highlight2">1,600</h5>
                  </div>
                  <div class="flex_col9">
                    <h5 class="highlight1">Lợi nhuận TB/Năm</h5>
                    <h5 class="highlight2">1,600</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex_row3">
          <div class="item2" style="--src:url(/assets/bright_edge_abstract.png)">
            <div class="flex_col12">
              <h2 class="medium_title1">Tổng quan</h2>
              <div class="flex_row4">
                <div class="flex_col13">
                  <div class="flex_col14">
                    <h5 class="highlight1">Vốn tối thiểu</h5>
                    <h5 class="highlight2">$500</h5>
                  </div>
                  <div class="flex_col15">
                    <h5 class="highlight1">Số nhà giao dịch</h5>
                    <h5 class="highlight2">1,600</h5>
                  </div>
                  <div class="flex_col3">
                    <h5 class="highlight1">Thời gian hoạt động</h5>
                    <h5 class="highlight2">&lt; 365 ngày</h5>
                  </div>
                </div>
                <div class="flex_col16">
                  <div class="flex_col17">
                    <h5 class="highlight1">Cặp tiền</h5>
                    <h5 class="highlight21">AUDBTC</h5>
                  </div>
                  <div class="flex_col18">
                    <h5 class="highlight1">Loại giao dịch</h5>
                    <h5 class="highlight3">Ngắn hạn</h5>
                  </div>
                  <div class="box4"><h5 class="highlight4">Xem thêm</h5></div>
                </div>
              </div>
            </div>
          </div>
          <img class="item3" src="/assets/cryptocurrency_market_chart.png" alt="alt text" />
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
