/*======= common style =======*/


/* font roboto */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* font roboto */


/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --style-color-main: #5EA700  ;
    --style-color-dark: #2E9F3C ;
    --style-color-light: #ddeacf;
    --style-color-light-2: rgba(139, 198, 63, 0.1);
    --style-color-btn-contrast: #ff8e01;

    --style-color-bg-footer: #434a3d;
    --style-color-in-bg-footer: #434a3d;

    --style-color-in-bg: black;
    --style-color-input: rgba(139, 198, 63, 0.384);
    --style-color-in-bg-menu: black;


}

input:focus textarea:focus {
    outline: none !important;
    border: 1px solid var(--style-color-main) !important;
}

.header-top {
    width: 100%;
    background: linear-gradient(0deg, var(--style-color-light-2), var(--style-color-light-2));
}

#homeStyle01 .nav__left-title {
    background-color: var(--style-color-light-2) !important;
    color: var(--style-color-light-2);
}

.nav__left-title {
    background: linear-gradient(0deg, var(--style-color-light-2), var(--style-color-light-2)) !important;
}

.news-menu input::placeholder {
    color: rgba(0, 0, 0, 0.405) !important;
}


/* home */
@media only screen and (max-width: 768px) {
    .section-title img {
        height: 10px !important;
        width: 150px !important;
    }
}
.wrap__header-user {
    gap: 10px;
}
.header__info .__item.--ct {
    gap: 10px;
}
footer input {
    color: var(--style-color-in-bg) !important;
}
.product__item:hover .p__text span {
    color: var(--style-color-dark) !important
}