:root {
  /* Màu sắc chung */
  --primary-color: #207cea; /* Màu chính */
  --secondary-color: rgba(111, 191, 98, 1); /* Màu phụ */
  --red-color: #c21b22;
  --background-color: #f9f9f9; /* Màu nền */
  --text-color: #333; /* Màu chữ */
  --text-color-blue: #011a39; /* Màu chữ */
}