:root {
    --style-color-primary: #033A67;
    --style-color-secondary: #000;
    --style-color-third: #189CFF;
    --style-color-light: #fff;
    --style-color-gray: #A9ADB0;
    --style-color-gray-2: #727272;
    --style-color-black: #393A3A;
    --style-color-black-2: #303030;
    --style-color-bg: #2570AF;
    --style-color-bg-nav: #2671AF;
    --style-color-bg-gray: #E8E6E6;
    --style-color-bg-blue: #015B9F;
    --style-color-bg-aqua: #EFF8FF;
    --style-color-bg-aqua-2: #F3F8FB;
    --style-body-font-size: 15px;
}