/*======= common style =======*/


/* font roboto */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* font roboto */


/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* font Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --style-color-main: #2A8B09;
    --style-color-dark: #206E05;
    --style-color-light: #2A8B09;
    --style-color-light-2: rgba(42, 139, 9, 0.20);
    --style-color-btn-contrast: #ff8e01;

    --style-color-bg-footer: #2A8B09;

    --style-color-in-bg: white;
    --style-color-input: #2a8b0930;
    --style-color-in-bg-menu: white;

     /* hover */
     --style-color-bg-placehoder-footer: #7aa341;
     --style-color-btn-search-new: #8BC63F;
     --style-color-bg-new: rgba(226, 239, 212, 0.28); 
 
     --style-color-menu-hover: #f74239;
     --hover-dark: white;
     --hover-white:#ff8e01;
     --hover-light: #ff8e01;
 
     --home-hover-title: white;
     --pre-header-hover-title: #e3e9db;
     
     /* end hover */
}

input:focus textarea:focus {
    outline: none !important;
    border: 1px solid var(--style-color-main) !important;
}
.header__company-name{
    color: white;
}
.header__account{
    color: white;
}
/* .account-item:hover {
    color: white !important;
} */
footer a:hover {
    color: var(--style-color-in-bg) !important;
}
.cart-ship {
    background: var(--green-light, linear-gradient(90deg, var(--style-color-light-2) 0%, #FFF 100%)) !important;
}
footer input::placeholder{
    color: rgba(255, 255, 255, 0.76) !important;
}