@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

.home3 {
    .header-top {
        background: #CA0C00;
    } 
    .header__center {
        padding: 11px 0;
        color: #fff;
    }
} 

.header__info {
    .section {
        display: flex;
        align-items: center;
        gap: 6px;
        .__item {
            align-items: unset;
            text-transform: unset;
            .info__value {
                color: #fff;
                text-align: left; 
                text-transform: unset;
            }
        }
        .icon-hotline {
            background: url(../images/home3/hotline.svg);
            width: 24px;
            height: 24px;
            display: inline-block;
        }
        .icon-location {
            background: url(../images/home3/location.svg);
            width: 24px;
            height: 24px;
            display: inline-block;
        }
        .icon-account {
            background: url(../images/home3/account.svg);
            width: 21px;
            height: 21px;
            display: inline-block;
        }
    }
    .shopping-cart::after {
        background-color: #fff;
        color: #CA0C00;
    }
}

.form-group-header input {
    width: 400px;
}
.nav__left-title {
    background: rgba(255, 237, 204, 0.24);
}
.side-nav {
    border: 1px solid rgba(134, 190, 76, 0.24);
    border-top: none;
    box-shadow: -3px 8px 10px 0px rgba(0, 0, 0, 0.1);

}
.menu-item a:hover {
    color: #EE6055;
}

.section-line {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 0;
    .view-more {
        border: 1px solid #F74239;
        border-radius: 10px;
        padding: 6px 12px;
        color: #F74239;
        &:hover {            
            background: #F74239;
            a {
                color: #fff;
            }
        }
    }
    .line {
        width: calc(50% - 64px);
        height: 1px;
        background-color: #F74239;
    }
}

.home-banner {
    position: relative;
    .banner-image {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .banner-text {
        position: absolute;
        left: 10px;
        bottom: 20px;
        line-height: 42px;
        .text-normal {
            font-size: 32px;
            color: #78201C;
            font-weight: 600;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
        .text-highlight {
            color: #78201C;
            font-size: 38px;
            font-family: 'Arizonia';
            font-weight: 400;
            padding-left: 60px;
        }
    }
}

.section-production {
    margin-top: 30px;
   
    .product__layput {
        .wrap-product__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            
            .product__item {
                border: 1px solid #EBEBEB;
                border-radius: 0;
                background: #fff;
                &:hover {
                    color: unset;
                    .p__text span {
                        color: #5E5E5E;
                    }
                }
                .p__thumb {
                    height: 180px;
                }
                .product-name {
                    font-size: 14px;
                    
                }
                .p__price span.new {
                    color: #F74239;
                }
                .p-3 {
                    padding: 2rem 0 1rem !important;
                }
            }
        }
    }

}

.product-title {
    text-transform: uppercase;
    color: #1D2E04;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    &:after {
        content:url(../images/home3/line.png);
        position: absolute;
        left: 0;
        bottom: -12px;
    }
}

footer {
    background: #434A3D;
    color: #fff;
}

@media (min-width: 300px) {
    .section-production .product__layput .wrap-product__list { grid-template-columns: repeat(1, 1fr); }
    .form-group-header, .form-group-header input {
        width: 180px;
    }
    main {
        padding: 0 8px;
    }
    .header__menu {
        display: none;
    }
  } 
  
@media (min-width: 480px) {
    .section-production .product__layput .wrap-product__list { grid-template-columns: repeat(2, 1fr); }
    .form-group-header, .form-group-header input {
        width: 220px;
    }
  }

  @media (min-width: 768px) {
    .section-production .product__layput .wrap-product__list { grid-template-columns: repeat(3, 1fr); }
    .form-group-header, .form-group-header input {
        width: 280px;
    }
  }

  @media (min-width: 1036px) {
    .section-production .product__layput .wrap-product__list { grid-template-columns: repeat(5, 1fr); }
    .header__menu {
        display: flex;
    }
  }

  @media (min-width: 1280px) {
    .form-group-header, .form-group-header input {
        width: 380px;
    }
  }

  @media (max-width: 480px) {
    .home-banner .banner-text {
        left: 10px;
        bottom: 6px;
        line-height: 20px;
        .text-normal  {
            font-size: 18px;
        }
        .text-highlight {
            font-size: 20px;
            padding-left: 20px;
        }
    } 
    
  }