.wrap-nav___left .side-nav, .home-banner {
    display: none;
}

.breakcrumbs {
    background: 
    rgba(235, 235, 235, 0.5);
    color: rgba(29, 46, 4, 0.7);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

.images__layout {
    line-height: 0;
   
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;
    margin-bottom: 50px;
}

.images__layout a {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 6px;
    display: block;
}

@media (max-width: 1024px) {
    .images__layout {
        column-gap: 3px;
    }
    .images__layout a {
        margin-bottom: 3px;
    }
}


/********************* Modal đăng ký nhận bản tin ************************/
.modal__box {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    padding: 12px 24px 32px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal__box .box, .modal__box .box input, .modal__box .content  {
    width: 100%;
}
.modal__box .box {
    margin: 12px 0;
}
.modal__box .box input {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    height: 48px;
    padding: 0 8px;
}

.modal__box .box.button-news input {
    width: 228px;
    color: #fff;
    background-color: #395319;
    border-radius: 8px;
}

.box.button-news {
    text-align: center;
    margin-top: 24px;
}

.modal__box .title {
    font-size: 20px;
    font-weight: 600;
    color: #303030;
}
.modal__box .description {
    color: #727272;
    width: 260px;
    text-align: center;
}

.wrapper__modal{
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 99999;
}

.wrapper__modal.show {
    display: flex;
}
.wrapper__modal.hide {
    display: none;
}

.wrapper__modal .btn-close {
    position: absolute;
    right: 16px;
    top: 16px;
}

.ui-widget.ui-widget-content {
    width: 315px !important;
}

.ui-draggable .ui-dialog-titlebar {
    background: unset;
    border: none;
    display: none;
}

.ui-button {
    display: none;
}

.ui-button .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: url(../images/close.svg);
}

.ui-icon-closethick { background-position: unset}

@media (min-width: 768px) {
    .ui-widget.ui-widget-content {
        width: 500px !important;
    }
    /* .modal__box {
        width: 530px;
    } */
    
}