.wrap-nav___left .side-nav, .home-banner {
    display: none;
}

.breakcrumbs {
    background: 
    rgba(235, 235, 235, 0.5);
    color: rgba(29, 46, 4, 0.7);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

.images__layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.images__layout .images__column {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

@media (max-width: 1024px) {
    .images__layout {
        column-gap: 6px;
    }
}