#homeStyle01 {}

.home-banner {
    display: none;
}

.side-nav {
    display: none;
}

.wrap-header__nav {
    align-items: center;
}

.wrap-nav___left .nav__left-title {
    border-radius: 0;
}

.wrap-nav___left {
    height: fit-content;
    border: none;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu .menu-item.active a {
    color: #f74239 !important;
}

.header__menu .menu-item:hover>a {
    color: #f74239 !important;
}

#homeStyle01 .header__info .shopping-cart {
    border: none !important;
}

.header__info .shopping-cart {
    border: none;
}

.nav__left-title {
    background: linear-gradient( 0deg, rgba(134, 190, 76, 0.24), rgba(134, 190, 76, 0.24)), linear-gradient(0deg, #f8f8f8, #f8f8f8);
}

footer {
    background-color: #434a3d;
    margin-top: 40px;
}

.footer__menu li a {
    color: #fff;
}

.footer-company__info {
    color: #fff;
}

footer .footer__block-title {
    color: #fff;
}

footer .call-now {
    color: #fff;
}

.breadcump {
    padding: 10px;
    background-color: #f4f4f4;
}

.breadcump p {
    font-size: 14px;
    font-weight: 600;
    color: #1d2e04b2;
    line-height: 18px;
    margin-left: 7px;
    text-align: left;
}


/* form */

.form {
    border: 1px solid #97c951;
    padding: 56px 100px;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin-top: 20px;
}

.login .form {
    padding: 24px;
    margin: 0 auto;
    margin-top: 20px;
    width: 456px;
}

.captcha-wrap {
    display: flex;
    align-items: center;
}

.captcha-wrap img {
    height: 55px;
    margin-left: -10px;
}

.captcha-wrap input {
    border-right: none !important;
}

.form-header h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;
}

.form-header p {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.form-header a {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #0077b6;
}

.form .large-col {
    height: 160px;
}

.form .form-input-wrap~.form-input-wrap {
    margin-top: 34px;
}

.form .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;
}

.form .title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.form .input-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form .input-wrap,
.form .row-title {
    padding: 0 30px;
}

.form .label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.form .label span {
    color: red;
}

.form input,
.form textarea {
    padding: 14px 24px;
    background: #fff;
    border: 1px solid #8b919a;
    border-radius: 10px;
    color: #959ead;
    transition: 0.2s ease;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.form textarea::placeholder {
    color: #959ead;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.login .input-wrap {
    padding: 0 !important;
}

.login .forget-pass {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.forget-pass a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #0077b6;
}

.agree-btn,
.login-btn {
    background-color: #4b6328;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    display: block;
    padding: 15px 32px;
    text-align: center;
    color: #fff;
    width: fit-content;
    margin-top: 30px;
    border-radius: 14px;
}

.login-btn {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.form input:focus {
    border: 1px solid #de3618;
}

.form .form-register {
    display: flex;
    align-items: center;
    gap: 25px;
}

.form .form-register .title {
    margin-bottom: 0;
}

.form .form-register .register-wrap {
    display: flex;
    gap: 25px;
    align-items: center;
}

.form .form-register .register-wrap .box {
    display: flex;
    gap: 14px;
    align-items: center;
}

.form .form-register .register-wrap .box input {
    cursor: pointer;
    width: 18.5px;
    height: 18.5px;
}

.form .form-register .register-wrap .box p {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    /* black */
    color: #303030;
    white-space: nowrap;
}

.form .row-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #000000;
}

.form .row-title .line {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #488a26 0%, #cfe8b0 100%);
}

.form .row-title~.input-wrap~.input-wrap {
    margin-top: 20px;
}

.form input {
    font-size: 14px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .form {
        padding: 50px 90px;
        margin-top: 20px;
    }
    .login .forget-pass {
        font-size: 14px;
    }
    .forget-pass a {
        font-size: 14px;
    }
    .form-header h1 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 28px;
    }
    .form-header p {
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
    }
    .form-header a {
        font-size: 15px;
    }
    .form .large-col {
        height: 150px;
    }
    .form .form-input-wrap~.form-input-wrap {
        margin-top: 32px;
    }
    .form .title {
        font-size: 19px;
        margin-bottom: 26px;
    }
    .form .title p {
        font-size: 15px;
    }
    .form .input-wrap {
        gap: 8px;
    }
    .form .input-wrap,
    .form .row-title {
        padding: 0 26px;
    }
    .form .label {
        font-size: 15px;
    }
    .form input,
    .form textarea {
        padding: 14px 24px;
        font-size: 14px;
    }
    .form textarea::placeholder {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .agree-btn {
        font-size: 19px;
        padding: 15px 32px;
        margin-top: 30px;
    }
    .form .form-register {
        gap: 25px;
    }
    .form .form-register .register-wrap {
        gap: 25px;
    }
    .form .form-register .register-wrap .box {
        gap: 14px;
    }
    .form .form-register .register-wrap .box input {
        cursor: pointer;
        width: 18.5px;
        height: 18.5px;
    }
    .form .form-register .register-wrap .box p {
        font-size: 20px;
        line-height: 32px;
    }
    .form .row-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .form .row-title~.input-wrap~.input-wrap {
        margin-top: 20px;
    }
    .form input {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .form input::placeholder,
    .form textarea::placeholder {
        font-size: 0;
    }
    .login .forget-pass {
        font-size: 12px;
    }
    .forget-pass a {
        font-size: 12px;
    }
    .form .row-title {
        font-size: 15px;
    }
    .form-header {
        height: 70px;
    }
    .form-header h1 {
        font-size: 22px;
    }
    .form .title {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .form .title p {
        font-size: 14px;
    }
    .form .large-col {
        height: 120px;
    }
    .form .form-register {
        gap: 5px;
        align-items: flex-start;
        flex-direction: column;
    }
    .form {
        padding: 40px 70px;
        margin-top: 20px;
    }
    .form-header h1 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 28px;
    }
    .form-header p {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }
    .form-header a {
        font-size: 14px;
    }
    .form .large-col {
        height: 120px;
    }
    .form .form-input-wrap~.form-input-wrap {
        margin-top: 25px;
    }
    .form .title {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .form .title p {
        font-size: 15px;
    }
    .form .input-wrap {
        gap: 8px;
    }
    .form .input-wrap,
    .form .row-title {
        padding: 0 26px;
    }
    .form .label {
        font-size: 15px;
    }
    .form input,
    .form textarea {
        padding: 14px 24px;
        font-size: 14px;
    }
    .form textarea::placeholder {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .agree-btn {
        font-size: 18px;
        padding: 15px 32px;
        margin-top: 30px;
    }
    .form .form-register {
        gap: 25px;
    }
    .form .form-register .register-wrap {
        gap: 25px;
    }
    .form .form-register .register-wrap .box {
        gap: 14px;
    }
    .form .form-register .register-wrap .box input {
        cursor: pointer;
        width: 18.5px;
        height: 18.5px;
    }
    .form .form-register .register-wrap .box p {
        font-size: 20px;
        line-height: 32px;
    }
    .form .row-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .form .row-title~.input-wrap~.input-wrap {
        margin-top: 20px;
    }
    .form input {
        font-size: 14px;
    }
}

@media screen and (max-width: 490px) {
    .form {
        padding: 15px 10px;
        margin-top: 16px;
    }
    .login .form {
        padding: 20px;
        width: 300px;
    }
    .captcha-wrap img {
        height: 50px;
    }
    .login .forget-pass {
        font-size: 10px;
    }
    .forget-pass a {
        font-size: 10px;
    }
    .form-header h1 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 28px;
    }
    .form-header p {
        font-size: 13px;
        font-weight: 600;
        margin-top: 10px;
    }
    .form-header a {
        font-size: 13px;
    }
    .form .large-col {
        height: 100px;
    }
    .form .form-input-wrap~.form-input-wrap {
        margin-top: 20px;
    }
    .form .title {
        font-size: 16px;
        margin-bottom: 22px;
    }
    .form .title p {
        font-size: 14px;
    }
    .form .input-wrap {
        gap: 8px;
    }
    .form .input-wrap,
    .form .row-title {
        padding: 0 12px;
    }
    .form .label {
        font-size: 13px;
    }
    .form input,
    .form textarea {
        padding: 12px 18px;
        font-size: 12px;
    }
    .form textarea::placeholder {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
    }
    .agree-btn {
        font-size: 16px;
        padding: 15px 32px;
        margin-top: 30px;
    }
    .form .form-register {
        gap: 25px;
    }
    .form .form-register .register-wrap {
        gap: 25px;
    }
    .form .form-register .register-wrap .box {
        gap: 14px;
    }
    .form .form-register .register-wrap .box input {
        cursor: pointer;
        width: 18.5px;
        height: 18.5px;
    }
    .form .form-register .register-wrap .box p {
        font-size: 20px;
        line-height: 32px;
    }
    .form .row-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .form .row-title~.input-wrap~.input-wrap {
        margin-top: 20px;
    }
    .form input {
        font-size: 12px;
    }
}

@media screen and (max-width: 1023.98px) {
    .header__menu {
        display: none;
    }
}