
.swiper-wrapper{
    width: 400px;
    max-width: 400px;
}
.home-banner{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.swiper-pagination{
    bottom: 20px !important;
}
.swiper-slide{
    height: 320px;
}
.swiper-slide img{
    height: 100%;
    width: 100%;
}
.swiper-pagination-bullet{
    border-radius: 30px;
    width: 20px;
    height: 7px;
}

.swiper-pagination-bullet-active{
    border-radius: 100px;
    width: 10px;
    height: 7px;
}

@media screen and  (max-width: 1024px) {
    .swiper-slide{
        height: 300px;
    }
}
@media screen and  (max-width: 768px) {
    .swiper-slide{
        height: 280px;
    }
}
@media screen  and (max-width: 490px) {
    .swiper-slide{
        height: 140px;
    }
}
