.list-voucher {
    display: flex;
    /* height: 958px; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.item-voucher {
    display: flex;
    padding: 15px 15px 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
}

.image-voucher {
    height: 316px;
    align-self: stretch;
    border-radius: 8px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.content-voucher {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.title-voucher {
    color: var(--neutral-1, #303030);
    /* heading 5.5 */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}
.title-voucher:hover a {
    color: var(--hover-light) !important;
   
}

.time-voucher {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.date-voucher {
    display: flex;
    align-items: flex-start;
    gap: 5px;

}


.video-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.video-more-title {
    color: #000;
    /* heading 5.5 */
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.video-more-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.video-more-line .span1 {
    width: 142px;
    height: 5px;
    border-radius: 0px 5px 0px 0px;
    background: #4B6E3C;
}

.video-more-line .span2 {
    height: 1px;
    align-self: stretch;
    border-radius: 5px;
    background: #4B6E3C;
}

.list-video {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.list-video-rep {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    align-self: stretch;
    border-radius: 8px;
    flex-wrap: wrap;
}

.video-item {

    width: calc(50% - 15px);
    display: flex;
    padding: 15px 15px 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--style-color-bg-new);
}

.video--item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.video-title {
    color: var(--neutral-1, #303030);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.video-date {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.video-title a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-date-text {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.video-image {
    width: 100%;
    height: 196.722px;
    border-radius: 8px;
}

.video-item-rep {
    display: flex;
    width: 228px;
    padding: 15px 15px 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    background: var(--style-color-bg-new);
}

.video-item-rep .video-image {
    height: 140px;
}

.video-item-rep .video-title {
    font-weight: 400;
}

@media (max-width: 500px) {

    .video-item,
    .video-item-rep {
        width: 100%;
    }

    .video-image {
        background-repeat: round !important;
    }
}

@media (max-width: 737px) {
    .list-video-rep {
        gap: 10px;
    }
}


.div-play-btn {
    display: flex;
    height: 100%;
}

.play-btn {
    width: 50px;
    height: 50px;
    background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

/* triangle */
.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}